{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  {% include "partials/header.html" %}

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  {% include "partials/footer.html" %}

  
  <script src="{% static "js/js.cookie.min.js" %}"></script>
  
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
