<header class="py-4 bg-gray-100">
  <div class="container mx-auto px-4">
    <nav class="flex justify-between text-md font-medium text-gray-700">

      <div class="font-bold text-lg hover:text-blue-600 transition-colors">
        <a href="{% url "home" %}">DevsHub</a>
      </div>

      <ul class="flex gap-x-5">
        <li><a href="{% url "card_list" %}" class="hover:text-blue-600 transition-colors">Карточки</a></li>
        <li><a href="{% url "deck_list" %}" class="hover:text-blue-600 transition-colors">Колоды</a></li>
        <li><a href="{% url "project_list" %}" class="hover:text-blue-600 transition-colors">Проекты</a></li>
        <li><a href="{% url "user_list" %}" class="hover:text-blue-600 transition-colors">Пользователи</a></li>
      </ul>

      {% if request.user.is_authenticated %}
        <ul class="flex gap-x-5 relative">
          <li class="relative group cursor-pointer">
              {{ request.user.username }}
            <ul class="absolute border border-gray-300 rounded-md left-0 mt-2 w-48 bg-white  shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
              <li>
                <a href="{% url "user_detail" request.user.pk %}" class="block px-4 py-2 hover:bg-gray-100">
                  Мой профиль
                </a>
              </li>
              <li>
                <a href="{% url "user_update" request.user.pk %}" class="block px-4 py-2 hover:bg-gray-100">
                  Редактировать профиль
                </a>
              </li>
              <li>
                <form action="{% url "logout" %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="w-full text-left px-4 py-2 text-red-600 cursor-pointer hover:text-red-800 hover:bg-gray-100">
                    Выйти
                  </button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      {% else %}
        <ul class="flex gap-x-5">
          <li><a href="{% url "register" %}" class="hover:text-blue-600 transition-colors">Регистрация</a></li>
          <li><a href="{% url "login" %}" class="hover:text-blue-600 transition-colors">Войти</a></li>
        </ul>
      {% endif %}

    </nav>
  </div>
</header>
