{% extends "base.html" %}

{% block title %}
  {% if is_owner %}Мой профиль{% else %}Профиль {{ user.username }}{% endif %}
{% endblock title %}

{% block content %}

  <h1>
    {% if is_owner %}Привет, {% endif %}{{ user.username }}
  </h1>

  <div>
    <a href="{% url "user_cards" user.id %}">Карточки</a>
    <a href="{% url "user_decks" user.id %}">Наборы карточек</a>
    <a href="{% url "user_projects" user.id %}">Проекты</a>
  </div>

  <h2>Статистика</h2>

  <div>
    <div>
      <span>Всего карточек: {{ cards_stats.total }}</span>
      <span>Создано карточек: {{ cards_stats.created }}</span>
      <span>Сохранено карточек: {{ cards_stats.saved }}</span>
      <span>В изучении: {{ cards_stats.in_study }}</span>
    </div>
    <div>
      <span>Всего наборов: {{ decks_stats.total }}</span>
      <span>Создано наборов: {{ decks_stats.created }}</span>
      <span>Сохранено наборов: {{ decks_stats.saved }}</span>
      <span>В изучении: {{ decks_stats.in_study }}</span>
    </div>
    <div>
      <span>Всего проектов: {{ projects_stats.total }}</span>
    </div>
    {% if codewars_stats %}
      <span>ссылка: {{ user.codewars_username }}</span>
      <span>honor: {{ codewars_stats.honor }}</span>
      <span>leaderboard_position: {{ codewars_stats.leaderboard_position }}</span>
      <span>languages: {{ codewars_stats.languages|join:', ' }}</span>
      <span>total_completed_katas: {{ codewars_stats.total_completed_katas }}</span>
    </div>
    {% endif %}
  </div>

{% endblock content %}
