{% extends "base.html" %}

{% block title %}
  {% if is_owner %}Мои проекты{% else %}Проекты {{ user.username }}{% endif %}
{% endblock title %}

{% block content %}
  <div class="py-8">
    <div class="container mx-auto px-4">

      <div class="mb-8">
        {% if is_owner %}
            {% include "includes/title.html" with title="Мои проекты" %}
        {% else %}
            {% include "includes/title.html" with title="Проекты "|add:user.username %}
        {% endif %}
      </div>

      <div class="max-w-1/2 mx-auto mb-8">
        {% include "includes/search_form.html" with placeholder="Сервис сокращения ссылок на FastAPI" %}
      </div>

      <div class="mb-4">
        {% include "includes/project_list.html" with projects=user_projects user=request.user %}
      </div>

      <div>
        {% include "includes/pagination.html" with page_obj=user_projects %}
      </div>

    </div>
  </div>

{% endblock content %}
