{% extends "base.html" %}

{% block title %}
  {% if is_owner %}Мои карточки{% else %}Карточки {{ user.username }}{% endif %}
{% endblock title %}

{% block content %}
  <div class="py-8">
    <div class="container mx-auto px-4">

      <div class="mb-8">
        {% if is_owner %}
            {% include "includes/title.html" with title="Мои карточки" %}
        {% else %}
            {% include "includes/title.html" with title="Карточки "|add:user.username %}
        {% endif %}
      </div>

      <div class="max-w-1/2 mx-auto mb-8">
        {% include "includes/search_form.html" with placeholder="Что такое итератор?" %}
      </div>

      <div class="mb-4">
        {% include "includes/card_list.html" with cards=user_cards user=request.user %}
      </div>

      <div>
        {% include "includes/pagination.html" with page_obj=user_cards %}
      </div>

    </div>
  </div>
{% endblock content %}
