{% extends "base.html" %}
{% load user_tags %}

{% block title %}Список пользователей{% endblock title %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Title -->
      <div class="mb-4">
        {% include "includes/title.html" with text="Список пользователей" only %}
      </div>

      <!-- Search form -->
      <div class="w-full lg:max-w-3xl mx-auto mb-4">
        {% include "includes/search_form.html" with placeholder="Имя пользователя, направление или навык" request=request only %}
      </div>

      <!-- User list -->
      <div class="mb-auto">
        <!-- User list as table -->
        <div class="hidden lg:table">

          <!-- User table -->
          <table class="w-full table-fixed text-gray-500">

            <colgroup>
              <col class="lg:max-w-2/10 xl w-full">
              <col class="lg:max-w-2/10 w-full">
              <col class="lg:max-w-2/10 w-full">
              <col class="lg:max-w-2/10 w-full">
              <col class="lg:max-w-2/10 w-full">
            </colgroup>

            <!-- User table head-->
            <thead>
              <tr>
                <th class="text-left py-2 px-4 font-normal"><span class="pl-4">Аватар</span></th>
                <th class="text-center py-2 px-4 font-normal">Имя</th>
                <th class="text-center py-2 px-4 font-normal">Направление</th>
                <th class="text-center py-2 px-4 font-normal">Навыки</th>
                <th class="text-right py-2 px-4 font-normal">Профиль codewars</th>
              </tr>
            </thead>

            <!-- User table body-->
            <tbody class="divide-y divide-gray-300">

              <!-- Users -->
              {% for user in users %}
                {% render_user_as_table user=user %}
              {% endfor %}

            </tbody>

          </table>

        </div>

        <!-- User list as cards -->
        <div class="flex flex-col gap-4 lg:hidden">
          {% for user in users %}

            {% render_user user=user %}

          {% endfor %}
        </div>
      </div>

      {% include "includes/pagination.html" with page_obj=users query=query sort_by=sort_by only %}

    </div>
  </div>

{% endblock content %}
