{% extends "base.html" %}

{% block title %}
  {% if is_owner %}Мои проекты{% else %}Проекты {{ user.username }}{% endif %}
{% endblock title %}

{% block content %}
  <div class="flex flex-col flex-1 py-8">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <div class="mb-8">
        {% include "includes/title.html" with text="Проекты" title=user.username only %}
      </div>

      <div class="mb-8">
        <a href="{% url "card_create" %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium warning mb-2">Добавить Проект</a>
      </div>

      <div class="max-w-1/2 w-full mx-auto mb-8">
        {% include "includes/search_form.html" with placeholder="Сервис сокращения ссылок на FastAPI" request=request only %}
      </div>

      <div class="mb-auto">
        {% include "includes/project_list.html" with projects=user_projects user=request.user only %}
      </div>

      <div class="pt-8">
        {% include "includes/pagination.html" with page_obj=user_projects query=query sort_by=sort_by only %}
      </div>

    </div>
  </div>

{% endblock content %}
