{% extends "base.html" %}
{% load card_tags %}

{% block title %}
  {% if user == request.user %}
    Мои карточки
  {% else %}
    Карточки {{ user.username }}
  {% endif %}
{% endblock title %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Title -->
      <div class="mb-4">
        {% include "includes/title.html" with text="Карточки" title=user.username only %}
      </div>

      <!-- Create card link -->
      {% if user == request.user %}
        <div class="w-full lg:max-w-3xl mx-auto mb-4">
          <a href="{% url "card_create" %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium primary">Добавить карточку</a>
        </div>
      {% endif %}

      <!-- Search form -->
      <div class="w-full lg:max-w-3xl mx-auto mb-4">
        {% include "includes/search_form.html" with placeholder="Что такое итератор?" request=request only %}
      </div>

      <!-- Card list -->
      <div class="mb-auto">
        <!-- Card list as table -->
        <div class="hidden sm:table">

          <!-- Card table -->
          <table class="w-full table-fixed text-gray-500">

            <colgroup>
              <col class="max-w-2/4 lg:max-w-1/3 w-full">
              <col class="max-w-1/4 lg:max-w-1/3 w-full">
              <col class="max-w-1/4 lg:max-w-1/3 w-full">
            </colgroup>

            <!-- Card table head-->
            <thead>
              <tr>
                <th class="text-left py-2 px-4 font-normal">Вопрос</th>
                <th class="text-center py-2 px-4 font-normal">Автор</th>
                <th class="text-right py-2 px-4 font-normal"><span>Статус</span></th>
              </tr>
            </thead>

            <!-- Card table body-->
            <tbody class="divide-y divide-gray-300">
              <!-- Cards -->
              {% for card in user_cards %}

                {% render_card_as_table card=card user=request.user %}

              {% endfor %}
            </tbody>

          </table>

        </div>

        <!-- Card list as cards -->
        <div class="flex flex-col gap-4 sm:hidden">
          {% for card in user_cards %}

            {% render_card card=card user=request.user %}

          {% endfor %}
        </div>
      </div>

      <!-- Pagination -->
      {% include "includes/pagination.html" with page_obj=user_cards query=query sort_by=sort_by only %}

    </div>
  </div>
{% endblock content %}
