{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if is_owner %}Мои колоды{% else %}Колоды {{ user.username }}{% endif %}
{% endblock title %}

{% block content %}
  <div class="flex flex-col flex-1 py-8">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <div class="mb-8">
        {% include "includes/title.html" with title="Колоды " %}
      </div>

      <div class="max-w-1/2 w-full mx-auto mb-8">
        {% include "includes/search_form.html" with placeholder="Циклы в Python" %}
      </div>

      <div class="mb-auto">
        {% include "includes/deck_list.html" with decks=user_decks user=request.user is_owner=is_owner studying_decks_ids=studying_decks_ids %}
      </div>

      <div class="pt-8">
        {% include "includes/pagination.html" with page_obj=user_decks %}
      </div>

    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static "js/toggle_form_state.js" %}"></script>
{% endblock scripts %}
