{% extends "base.html" %}

{% block title %}Список пользователей{% endblock title %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Title -->
      <div class="mb-4">
        {% include "includes/title.html" with text="Список пользователей" only %}
      </div>

      <!-- Search form -->
      <div class="w-full lg:max-w-3xl mx-auto mb-4">
        {% include "includes/search_form.html" with placeholder="Имя пользователя, направление или навык" request=request only %}
      </div>

      <!-- User list -->
      <div class="mb-auto">
        {% include "includes/user_list.html" with users=users only %}
      </div>

      {% include "includes/pagination.html" with page_obj=users query=query sort_by=sort_by only %}

    </div>
  </div>

{% endblock content %}
