{% extends "base.html" %}

{% block title %}Список пользователей{% endblock title %}

{% block content %}

  <div class="flex flex-col flex-1 py-8">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <div class="mb-8">
        {% include "includes/title.html" with text="Список пользователей" only %}
      </div>

      <div class="max-w-1/2 w-full mx-auto mb-8">
        {% include "includes/search_form.html" with placeholder="Имя пользователя, направление или навык" request=request only %}
      </div>

      <div>
        {% include "includes/user_list.html" with users=users only %}
      </div>

      <div class="pt-8">
        {% include "includes/pagination.html" with page_obj=users query=query sort_by=sort_by only %}
      </div>

    </div>
  </div>

{% endblock content %}
