{% extends "base.html" %}
{% load static %}
{% load card_tags %}


{% block title %}
  {{ deck.title|striptags }}
{% endblock title %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Action buttons -->
      {% if request.user.is_authenticated %}
        <div class="mb-8">

          <!-- Author buttons -->
          {% if deck.author == request.user %}
            <div class="flex flex-wrap lg:flex-nowrap gap-2 lg:gap-4 justify-center items-center max-w-xl lg:max-w-5xl mx-auto">
              <a href="{% url "deck_update" deck.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium primary">Редактировать колоду</a>
              <a href="{% url "deck_export" deck.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success">Экспортировать колоду</a>
              <a href="{% url "deck_delete" deck.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium danger">Удалить колоду</a>
            </div>
          <!-- User buttons -->
          {% else %}
            <form action="{% url "deck_toggle_save" deck.pk %}" method="post" data-js-toggle-save-form class="flex flex-wrap lg:flex-nowrap gap-2 lg:gap-4 justify-center items-center max-w-xl lg:max-w-5xl mx-auto">
              {% csrf_token %}

              <!-- If not saved-->
              {% if not deck.is_saved %}

                <button type="submit" data-js-toggle-button class="w-full text-center rounded-full py-4 px-6 text-md font-medium cursor-pointer primary">
                  Сохранить колоду в мой профиль
                </button>
                <a href="{% url "deck_export" deck.pk %}" data-js-export-button class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success inactive">Экспортировать колоду</a>

              <!-- If saved-->
              {% else %}

                <button type="submit" data-js-toggle-button class="w-full text-center rounded-full py-4 px-6 text-md font-medium cursor-pointer danger">
                  Удалить колоду из моего профиля
                </button>
                <a href="{% url "deck_export" deck.pk %}" data-js-export-button class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success">Экспортировать колоду</a>

              {% endif %}

            </form>
          {% endif %}

        </div>
      {% endif %}

      <!-- Title -->
      <div class="mb-4">
        {% include "includes/title.html" with text="Список карточек" title=deck.title only %}
      </div>

      <!-- Search form -->
      <div class="w-full lg:max-w-3xl mx-auto mb-4">
        {% include "includes/search_form.html" with placeholder="Что такое итератор?" request=request only %}
      </div>

      <!-- Card list -->
      <div class="mb-4">
        <!-- Card list as table -->
        <div class="hidden sm:table">

          <!-- Card table -->
          <table class="w-full table-fixed text-gray-500">

            <colgroup>
              <col class="max-w-2/4 lg:max-w-1/3 w-full">
              <col class="max-w-1/4 lg:max-w-1/3 w-full">
              <col class="max-w-1/4 lg:max-w-1/3 w-full">
            </colgroup>

            <!-- Card table head-->
            <thead>
              <tr>
                <th class="text-left py-2 px-4 font-normal">Вопрос</th>
                <th class="text-center py-2 px-4 font-normal">Автор</th>
                <th class="text-right py-2 px-4 font-normal"><span>Статус</span></th>
              </tr>
            </thead>

            <!-- Card table body-->
            <tbody class="divide-y divide-gray-300">
              <!-- Cards -->
              {% for card in cards %}

                {% render_card_as_table card=card user=request.user %}

              {% endfor %}
            </tbody>

          </table>

        </div>

        <!-- Card list as cards -->
        <div class="flex flex-col gap-4 sm:hidden">
          {% for card in cards %}

            {% render_card card=card user=request.user %}

          {% endfor %}
        </div>
      </div>

      <!-- Deck Author -->
      <div class="text-center text-lg mb-auto">
        <a href="{{ deck.author.get_absolute_url }}" class="group">
          Автор: <span class="font-medium group-hover:text-blue-600 active:text-blue-600">{{ deck.author }}</span>
        </a>
      </div>

      <!-- Pagination -->
      {% include "includes/pagination.html" with page_obj=cards query=query sort_by=sort_by only %}

  </div>
</div>

{% endblock content %}

{% block scripts %}
  <script src="{% static "js/toggle-deck-save.js" %}"></script>
{% endblock scripts %}
