{% extends "base.html" %}

{% block title %}Список колод{% endblock title %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Title -->
      <div class="mb-4">
        {% include "includes/title.html" with text="Список колод" only %}
      </div>

      <!-- Search form -->
      <div class="w-full lg:max-w-3xl mx-auto mb-4">
        {% include "includes/search_form.html" with placeholder="Циклы в Python" request=request only %}
      </div>

      <!-- Card list -->
      <div class="mb-auto">
        {% include "includes/deck_list.html" with decks=decks user=request.user only %}
      </div>

      <!-- Pagination -->
      {% include "includes/pagination.html" with page_obj=decks query=query sort_by=sort_by only %}

    </div>
  </div>

{% endblock content %}
