{% extends "base.html" %}
{% load static %}
{% load card_tags %}


{% block title %}{{ deck.title }}{% endblock title %}

{% block content %}

  <h1>{{ deck.title }}</h1>

  <div>
    <ul>
      {% for card in cards %}
        <li>
          {% render_card card %}
        </li>
      {% empty %}
        <li>
          Карточек нету
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    {% if not deck.author == request.user %}
      <form action="{% url "deck_toggle_save" deck.id %}" method="post" data-js-toggle-save-form>
        {% csrf_token %}
        <button type="submit" data-js-toggle-button>
          {% if not is_saved %}
            Сохранить в мой профиль
          {% else %}
            Удалить из моего профиля
          {% endif %}
        </button>
      </form>
      {% else %}
        <p>Вы автор этого набора</p>
      {% endif %}
  </div>

  <div>
    <p>Дата создания: <span>{{ deck.created_at }}</span></p>
    <p>Последнее обновление: <span>{{ deck.updated_at }}</span></p>
  </div>

{% endblock content %}

{% block scripts %}
  <script src="{% static "js/toggle_form_state.js" %}"></script>
{% endblock scripts %}
