{% extends "base.html" %}

{% block title %}Список проектов{% endblock title %}

{% block content %}

  <h1>Список проектов</h1>

  <div>
    <form method="get">
      <input type="text" name="query" placeholder="Сервис сокращения ссылок на fastapi" value={{ request.GET.query|default:'' }}>
      <select name="sort_by">
        <option value="newest" {% if request.GET.sort_by == 'newest' %}selected{% endif %}>Сначала новые</option>
        <option value="oldest" {% if request.GET.sort_by == 'oldest' %}selected{% endif %}>Сначала старые</option>
      </select>
      <button type="submit">Поиск</button>
    </form>
  </div>

  <ul>
    {% for project in projects %}
      <li>
        <h4>
          <a href="{{ project.get_absolute_url }}">
            {{ project.title }}
          </a>
        </h4>
      </li>
    {% empty %}
      <li>
        Проектов нету
      </li>
    {% endfor %}
  </ul>

<div>
  {% if projects.has_previous %}
    <a href="?page={{ projects.previous_page_number }}&query={{ query }}&sort_by={{ sort_by }}">Назад</a>
  {% endif %}

  <span>
    Страница {{ projects.number }} из {{ projects.paginator.num_pages }}
  </span>

  {% if projects.has_next %}
    <a href="?page={{ projects.next_page_number }}&query={{ query }}&sort_by={{ sort_by }}">Вперёд</a>
  {% endif %}
</div>

{% endblock content %}
