{% extends "base.html" %}

{% block title %}
  {% if not form.instance.pk %}
    Добавить проект
  {% else %}
    Редактировать проект {{ form.instance.title }}
  {% endif %}
{% endblock title %}

{% block content %}
  <div class="flex flex-col flex-1 py-8">
    <div class="container mx-auto px-4 flex flex-col flex-1 justify-center items-center">

      <div class="mb-8">
        {% if not form.instance.pk %}
          {% include "includes/title.html" with text="Создать проект" only %}
        {% else %}
          {% include "includes/title.html" with text="Редактировать проект" title=form.instance.title only %}
        {% endif %}
      </div>

      <div class="max-w-1/2 w-full mx-auto font-medium">
        {% include "includes/model_form.html" with form=form has_file_field=True csrf_token=csrf_token only %}
      </div>

  </div>
</div>

{% endblock content %}
