{% extends "base.html" %}
{% load static %}
{% load thumbnail %}


{% block title %}
  Проект {{ project.title|striptags }}
{% endblock title %}

{% block head %}
  <link href="{% static "css/swiper-bundle.min.css" %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Project links -->
      {% if project.live_url or project.repository_url %}

         <!-- User buttons -->
        <div class="mb-2">
          <div class="flex flex-wrap lg:flex-nowrap gap-2 lg:gap-4 justify-center items-center max-w-xl lg:max-w-5xl mx-auto">

            {% if project.live_url %}
              <a href="{{ project.live_url }}" target="_blank" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success">Смотреть онлайн</a>
            {% endif %}

            {% if project.repository_url %}
              <a href="{{ project.repository_url }}" target="_blank" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium warning">Репозиторий проекта</a>
            {% endif %}

          </div>
        </div>

      {% endif %}

      <!-- Author buttons -->
      {% if request.user.is_authenticated %}
        {% if project.author == request.user %}

          <div>
            <div class="flex flex-wrap lg:flex-nowrap gap-2 lg:gap-4 justify-center items-center max-w-xl lg:max-w-5xl mx-auto">
              <a href="{% url "project_update" project.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium primary">Редактировать проект</a>
              <a href="{% url "project_delete" project.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium danger">Удалить проект</a>
            </div>
          </div>

        {% endif %}
      {% endif %}

      <!-- Title -->
      <div class="my-4 lg:my-8">
        {% include "includes/title.html" with title=project.title only %}
      </div>

      <!-- Slider -->
      {% if project.cover_image or project.images.all %}
        <div>
          <div class="swiper max-w-7xl mx-auto rounded-lg shadow-md shadow-gray-400">
            <!-- Slider wrapper-->
            <div class="swiper-wrapper">

              <!-- Slider images (slides)-->
              {% if project.cover_image %}

                {% thumbnail project.cover_image "1280x720" crop="center" as cover %}
                <div class="swiper-slide">
                  <div class="relative w-full aspect-video overflow-hidden">
                    <img src="{{ cover.url }}" alt="Обложка {{ project.title }}" class="absolute inset-0 w-full h-full object-cover" loading="lazy">
                  </div>
                </div>

              {% endif %}

              {% for image in project.images.all %}

                {% thumbnail image.file "1280x720" crop="center" as image %}
                <div class="swiper-slide">
                  <div class="relative w-full aspect-video overflow-hidden">
                    <img src="{{ image.url }}" alt="Изображение {{ project.title }}" class="absolute inset-0 w-full h-full object-cover" loading="lazy">
                  </div>
                </div>

              {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>

          </div>
        </div>
      {% endif %}


      <!-- Project content -->
      <div class="prose sm:mx-auto text-lg mb-auto">

        <!-- Project description -->
        <div>
          {{ project.description|safe }}
        </div>

      </div>

      <!-- Project Author -->
      <div class="text-center text-lg">

        <a href="{{ project.author.get_absolute_url }}" class="group">
          Автор: <span class="font-medium group-hover:text-blue-600 active:text-blue-600">{{ project.author }}</span>
        </a>

      </div>

    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static "js/swiper-bundle.min.js" %}"></script>
  <script src="{% static "js/project_images_slider.js" %}"></script>
{% endblock scripts %}
