{% extends "base.html" %}
{% load static %}

{% block title %}{{ card.question }}{% endblock title %}

{% block content %}

  <h1>{{ card.question }}</h1>

  <div>
    <p>Дата создания: <span>{{ card.created_at }}</span></p>
    <p>Последнее обновление: <span>{{ card.updated_at }}</span></p>
  </div>

  <div>
    {% if not card.author == request.user %}
      <form action="{% url "cards:card_toggle_save" card.id %}" method="post" data-js-toggle-save-form>
        {% csrf_token %}
        <button type="submit" data-js-toggle-button>
          {% if not is_saved %}
            Сохранить в мой профиль
          {% else %}
            Удалить из моего профиля
          {% endif %}
        </button>
      </form>
    {% else %}
      <p>Вы автор этой карточки</p>
    {% endif %}
  </div>

{% endblock content %}

{% block scripts %}
  <script src="{% static "cards/js/toggle_save.js" %}"></script>
{% endblock scripts %}
