{% extends "base.html" %}
{% load deck_tags %}

{% block title %}Главная{% endblock title %}

{% block content %}
  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Title -->
      <div class="mb-8">
        {% include "includes/title.html" with text="О проекте" only %}
      </div>

      <div class="max-w-4xl mx-auto">

        <p class="mb-4 border-b-2 border-b-gray-300 py-2">
          <b>DevsHub</b> — это универсальная платформа для разработчиков и смежных профессий,
          где обучение, создание проектов и командная работа объединены в одном месте.
          Здесь вы найдете всё, чтобы развивать навыки, делиться знаниями и находить единомышленников.
        </p>

        <p class="mb-4 border-b-2 border-b-gray-300 py-2">
          Создавайте собственные проекты и оформляйте их красиво и удобно с помощью встроенного
          WYSIWYG-редактора — описание и детали вашего проекта будут выглядеть так же аккуратно,
          как вы этого хотите.
        </p>

        <p class="mb-4 border-b-2 border-b-gray-300 py-2">
          Добавляйте карточки и колоды, сохраняйте их, изучайте с
          помощью интервального повторения прямо на сайте или экспортируйте в Anki,
          чтобы закреплять знания наиболее эффективно.
        </p>

        <p class="mb-4 border-b-2 border-b-gray-300 py-2">
          Ищите интересные карточки, колоды, проекты и пользователей — <b>DevsHub</b> помогает
          находить именно то, что вам нужно, будь то готовые материалы для обучения или
          потенциальные партнёры для совместной работы.
        </p>

        <p class="mb-4 border-b-2 border-b-gray-300 py-2">
          Просматривайте свою статистику: сколько карточек вы создали, сколько колод
          изучили, прогресс по проектам и интеграция с Codewars покажет ваши достижения ещё точнее.
        </p>

        <p>
          Для разработчиков доступен полноценный API, который позволяет интегрировать
          возможности платформы в свои собственные проекты, автоматизировать процессы и
          создавать новые инструменты на основе <b>DevsHub</b>.
        </p>

    </div>

  </div>
</div>

{% endblock content %}
