{% extends "base.html" %}

{% block title %}Мой профиль{% endblock title %}

{% block content %}

  <h1>Мой профиль</h1>

  <div>
    <a href="{% url "users:profile_cards" %}">Мои карточки </a>
    <a href="{% url "users:profile_cardsets" %}">Мои наборы карточек</a>
    <a href="{% url "users:profile_projects" %}">Мои проекты</a>
  </div>

  <h2>Статистика по профилю</h2>

  <div>
    <div>
      <span>Всего карточек: {{ cards_stats.total }}</span>
      <span>Создано карточек: {{ cards_stats.created }}</span>
      <span>Сохранено карточек: {{ cards_stats.saved }}</span>
      <span>В изучении: {{ cards_stats.in_study }}</span>
    </div>
    <div>
      <span>Всего наборов: {{ cardsets_stats.total }}</span>
      <span>Создано наборов: {{ cardsets_stats.created }}</span>
      <span>Сохранено наборов: {{ cardsets_stats.saved }}</span>
      <span>В изучении: {{ cardsets_stats.in_study }}</span>
    </div>
    <div>
      <span>Всего проектов: {{ projects_stats.total }}</span>
    </div>
    <div>
      <span>ссылка: {{ codewars_stats.username }}</span>
      <span>honor: {{ codewars_stats.honor }}</span>
      <span>leaderboard_position: {{ codewars_stats.leaderboard_position }}</span>
      <span>languages: {{ codewars_stats.languages|join:', ' }}</span>
      <span>total_completed_katas: {{ codewars_stats.total_completed_katas }}</span>
    </div>
  </div>

{% endblock content %}
