{% load card_tags %}

<!-- Card list as table -->
<div class="hidden sm:table">

  <!-- Card table -->
  <table class="w-full table-fixed text-gray-500">

    <colgroup>
      <col class="max-w-2/4 lg:max-w-1/3 w-full">
      <col class="max-w-1/4 lg:max-w-1/3 w-full">
      <col class="max-w-1/4 lg:max-w-1/3 w-full">
    </colgroup>

    <!-- Card table head-->
    <thead>
      <tr>
        <th class="text-left py-2 px-4 font-normal">Вопрос</th>
        <th class="text-center py-2 px-4 font-normal">Автор</th>
        <th class="text-right py-2 px-4 font-normal"><span class="pr-9">Статус</span></th>
      </tr>
    </thead>

    <!-- Card table body-->
    <tbody class="divide-y divide-gray-300">

      <!-- Cards -->
      {% for card in cards %}
        {% render_card_as_table card=card user=user %}
      {% endfor %}

    </tbody>

  </table>

</div>

<!-- Card list as cards -->
<div class="flex flex-col gap-4 sm:hidden">
  {% for card in cards %}
    {% render_card card=card user=user %}
  {% endfor %}
</div>
