<div class="flex gap-4 justify-center items-center font-medium">
  {% if page_obj.paginator.num_pages > 1 %}

    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}&sort_by={{ sort_by }}">
        Назад
      </a>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
      {% if page_num >= page_obj.number|add:-2 and page_num <= page_obj.number|add:2 %}

        {% if page_num == page_obj.number %}
          <span class="font-semibold text-blue-600">
            {{ page_num }}
          </span>
        {% else %}
          <a
            href="?page={{ page_num }}&query={{ query }}&sort_by={{ sort_by }}"
            class="hover:text-blue-600"
          >
            {{ page_num }}
          </a>
        {% endif %}

      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&query={{ query }}&sort_by={{ sort_by }}">
        Вперёд
      </a>
    {% endif %}
  {% endif %}
</div>
