{% load project_tags %}

<!-- Project list as table -->
<div class="hidden lg:table">

  <!-- Project table -->
  <table class="w-full table-fixed text-gray-500">

    <colgroup>
      <col class="lg:max-w-2/10 xl w-full">
      <col class="lg:max-w-3/10 w-full">
      <col class="lg:max-w-2/10 w-full">
      <col class="lg:max-w-1/10 w-full">
      <col class="lg:max-w-2/10 w-full">
    </colgroup>

    <!-- Project table head-->
    <thead>
      <tr>
        <th class="text-left py-2 px-4 font-normal">Обложка</th>
        <th class="text-center py-2 px-4 font-normal">Название</th>
        <th class="text-center py-2 px-4 font-normal">Репозиторий</th>
        <th class="text-center py-2 px-4 font-normal">URL</th>
        <th class="text-right py-2 px-4 font-normal">Автор</th>
      </tr>
    </thead>

    <!-- Project table body-->
    <tbody class="divide-y divide-gray-300">

      <!-- Projects -->
      {% for project in projects %}
        {% render_project_as_table project=project user=user %}
      {% endfor %}

    </tbody>

  </table>

</div>

<!-- Project list as projects -->
<div class="flex flex-col gap-4 lg:hidden">
  {% for project in projects %}
    {% render_project project=project user=user %}
  {% endfor %}
</div>
