{% extends "base.html" %}

{% block title %}Список карточек{% endblock title %}

{% block content %}
  <div class="py-8">
    <div class="container mx-auto px-4">

      <div class="mb-8">
        {% include "includes/title.html" with title="Карточки" %}
      </div>

      <div class="max-w-1/2 mx-auto mb-8">
        {% include "includes/search_form.html" with placeholder="Что такое итератор?" %}
      </div>

      <div class="mb-4">
        {% include "includes/card_list.html" with cards=cards user=request.user %}
      </div>

      <div>
        {% include "includes/pagination.html" with page_obj=cards %}
      </div>

    </div>
  </div>
{% endblock content %}
