{% extends "base.html" %}
{% load card_tags %}


{% block title %}Список карточек{% endblock title %}

{% block content %}

  <h1>Список карточек</h1>
  <div>
    <form method="get">
      <input type="text" name="query" placeholder="Что такое итератор?" value={{ request.GET.query|default:'' }}>
      <select name="sort_by">
        <option value="newest" {% if request.GET.sort_by == 'newest' %}selected{% endif %}>Сначала новые</option>
        <option value="oldest" {% if request.GET.sort_by == 'oldest' %}selected{% endif %}>Сначала старые</option>
      </select>
      <button type="submit">Поиск</button>
    </form>
  </div>

  <ul>
    {% for card in cards %}
      <li>
        {% render_card card %}
      </li>
    {% empty %}
      <li>
        Карточек нету
      </li>
    {% endfor %}
  </ul>

<div>
  {% if cards.has_previous %}
    <a href="?page={{ cards.previous_page_number }}&query={{ query }}&sort_by={{ sort_by }}">Назад</a>
  {% endif %}

  <span>
    Страница {{ cards.number }} из {{ cards.paginator.num_pages }}
  </span>

  {% if cards.has_next %}
    <a href="?page={{ cards.next_page_number }}&query={{ query }}&sort_by={{ sort_by }}">Вперёд</a>
  {% endif %}
</div>

{% endblock content %}
