{% extends "base.html" %}

{% block title %}
  {% if not form.instance.pk %}
    Создать карточку
  {% else %}
    Редактировать карточку {{ form.instance.question }}
  {% endif %}
{% endblock title %}

{% block content %}
  <div class="flex flex-1 py-4 lg:py-8">
    <div class="container mx-auto px-4 flex flex-col flex-1 justify-center items-center">

      <!-- Title -->
      <div class="mb-4 lg:mb-8">
        {% if not form.instance.pk %}
          {% include "includes/title.html" with text="Создать карточку" only %}
        {% else %}
          {% include "includes/title.html" with text="Редактировать карточку:" title=form.instance.question only %}
        {% endif %}
      </div>

      <!-- Form -->
      <div class="w-full lg:max-w-5xl">
        {% include "includes/model_form.html" with form=form csrf_token=csrf_token only %}
      </div>

  </div>
</div>
{% endblock content %}
