{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ card.question|striptags }}
{% endblock title %}

{% block content %}

  <div class="py-4 lg:py-8 flex flex-1">
    <div class="container mx-auto px-4 flex flex-col flex-1">

      <!-- Action buttons -->
      {% if request.user.is_authenticated %}
        <div class="mb-8">

          <!-- Author buttons -->
          {% if card.author == request.user %}
            <div class="flex flex-wrap lg:flex-nowrap gap-2 lg:gap-4 justify-center items-center max-w-xl lg:max-w-5xl mx-auto">
              <a href="{% url "card_update" card.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium primary">Редактировать карточку</a>
              <a href="{% url "card_export" card.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success">Экспортировать карточку</a>
              <a href="{% url "card_delete" card.pk %}" class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium danger">Удалить карточку</a>
            </div>
          <!-- User buttons -->
          {% else %}
            <form action="{% url "card_toggle_save" card.pk %}" method="post" data-js-toggle-save-form class="flex flex-wrap lg:flex-nowrap gap-2 lg:gap-4 justify-center items-center max-w-xl lg:max-w-5xl mx-auto">
              {% csrf_token %}

              <!-- If not saved-->
              {% if not is_saved %}

                <button type="submit" data-js-toggle-button class="w-full text-center rounded-full py-4 px-6 text-md font-medium cursor-pointer primary">
                  Сохранить карточку в мой профиль
                </button>
                <a href="{% url "card_export" card.pk %}" data-js-export-button class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success inactive">Экспортировать карточку</a>

              <!-- If saved-->
              {% else %}

                <button type="submit" data-js-toggle-button class="w-full text-center rounded-full py-4 px-6 text-md font-medium cursor-pointer danger">
                  Удалить карточку из моего профиля
                </button>
                <a href="{% url "card_export" card.pk %}" data-js-export-button class="inline-block w-full text-center rounded-full py-4 px-6 text-md font-medium success">Экспортировать карточку</a>
              {% endif %}

            </form>
          {% endif %}

        </div>
      {% endif %}

      <!-- Card content -->
      <div class="prose sm:mx-auto text-lg mb-auto">

        <!-- Card question -->
        <div class="mb-8 font-medium text-center">
          {{ card.question|safe }}
        </div>

        <!-- Card answer -->
        <div>
          {{ card.answer|safe }}
        </div>

      </div>

      <!-- Card Author -->
      <div class="text-center text-lg">

        <a href="{{ card.author.get_absolute_url }}" class="group">
          Автор: <span class="font-medium group-hover:text-blue-600 active:text-blue-600">{{ card.author }}</span>
        </a>

      </div>

    </div>
  </div>

{% endblock content %}

{% block scripts %}
  <script src="{% static "js/toggle_form_state.js" %}"></script>
{% endblock scripts %}
