@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer components {
  label.required::after {
    content: " *";
    color: #ef4444;
  }

  .errorlist {
    color: #ce3c3c;
  }

  .primary {
    background-color: var(--color-blue-50);
    color: var(--color-blue-700);
    border-color: var(--color-blue-300);
    &:hover {
    @media (hover: hover) {
      background-color: var(--color-blue-100);
      }
    }
  }

  .danger {
    background-color: var(--color-red-50);
    color: var(--color-red-700);
    border-color: var(--color-red-300);
    &:hover {
    @media (hover: hover) {
      background-color: var(--color-red-100);
      }
    }
  }

  .success {
    background-color: var(--color-green-50);
    color: var(--color-green-700);
    border-color: var(--color-green-300);
    &:hover {
    @media (hover: hover) {
      background-color: var(--color-green-100);
      }
    }
  }

  .orange {
  background-color: var(--color-orange-50);
  color: var(--color-orange-700);
  border-color: var(--color-orange-300);

  &:hover {
    @media (hover: hover) {
      background-color: var(--color-orange-100);
      }
    }
  }
}
