{% load thumbnail %}
<div class="flex justify-between items-center gap-4 py-2 px-4 hover:bg-gray-100 text-gray-800 font-medium">

  <div class="flex-2">
    {% if project.cover_image %}
      {% thumbnail project.cover_image "320x160" crop="center" as im %}
      <div class="rounded-lg overflow-hidden max-w-80 max-h-40 shadow-md shadow-gray-400">
        <a href="{{ project.get_absolute_url }}">
          <img
            src="{{ im.url }}"
            alt="Обложка {{ project.title }}"
            class="w-full h-full rounded-lg object-cover object-center duration-500 transition-transform hover:scale-110"
          >
        </a>
      </div>
    {% else %}
      <span>Без обложки</span>
    {% endif %}
  </div>

  <div class="flex-2 pr-2">
    <a href="{{ project.get_absolute_url }}" class="hover:text-blue-600 transition-colors">
      {{ project.title|truncatechars:76 }}
    </a>
  </div>

  <div class="flex-1">
    {% if project.repository_url %}
      <a href="{{ project.repository_url }}" target="_blank" class="hover:text-blue-600 transition-colors">
        перейти
      </a>
    {% endif %}
  </div>

  <div class="flex-1">
    {% if project.live_url %}
      <a href="{{ project.live_url }}" target="_blank" class="hover:text-blue-600 transition-colors">
        перейти
      </a>
    {% endif %}
  </div>

  <div class="flex-1 text-right">
    <a href="{{ project.author.get_absolute_url }}" class="hover:text-blue-600 transition-colors">
      {{ project.author.username }}
    </a>
  </div>

</div>
