{% extends "base.html" %}
{% load static %}
{% load cardset_tags %}


{% block title %}Наборы карточек {{ current_user.username }}{% endblock title %}

{% block content %}

  <h1>Наборы карточек {{ current_user.username }}</h1>

  <ul>
    {% for cardset in cardsets %}
      <li>
        {% render_cardset cardset %}
        {% if current_user == request.user %}
          <form action="{% url "cardsets:cardset_toggle_study" cardset.id %}" method="post" data-js-toggle-save-form>
            {% csrf_token %}
            <button type="submit" data-js-toggle-button>
              {% if cardset.id not in studying_cardsets_ids %}
                Добавить в изучаемые
              {% else %}
                Удалить из изучаемых
              {% endif %}
            </button>
          </form>
        {% endif %}
      </li>
    {% empty %}
      <li>
        Наборов карточек нету
      </li>
    {% endfor %}
  </ul>

{% endblock content %}

{% block scripts %}
  <script src="{% static "cards/js/form_toggles.js" %}"></script>
{% endblock scripts %}
