{% extends "base.html" %}

{% block title %}Мои проекты{% endblock title %}

{% block content %}

  <h1>Мои проекты</h1>

  <div>
    <form method="get">
      <input type="text" name="query">
      <button type="submit">Поиск</button>
    </form>
  </div>

  <ul>
    {% for project in user_projects %}
      <li>
        <h4>
          <a href="{{ project.get_absolute_url }}">
            {{ project.title }}
          </a>
        </h4>
      </li>
    {% empty %}
      <li>
        Проектов нету
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
