<tr class="hover:bg-gray-100 text-gray-800">

  <!-- Card question -->
  <td class="text-left py-2 px-4">
    <a href="{{ card.get_absolute_url }}" class="hover:text-blue-600 active:text-blue-600 transition-colors">
      {{ card.question|truncatechars:76|striptags }}
    </a>
  </td>

  <!-- Card author -->
  <td class="text-center py-2 px-4">
    <a href="{{ card.author.get_absolute_url }}" class="hover:text-blue-600 active:text-blue-600 transition-colors">
      {{ card.author }}
    </a>
  </td>

  <!-- Card status -->
  <td class="text-right py-2 px-4">
    {% if is_author %}
      <span class="inline-block sm:max-w-28 w-full text-center rounded-full py-1 px-2 primary transition-colors hover:bg-blue-50">Вы автор</span>
    {% elif card.is_saved %}
      <span class="inline-block sm:max-w-28 w-full text-center rounded-full py-1 px-2 success transition-colors hover:bg-green-50">Сохранена</span>
    {% else %}
      <span class="inline-block sm:max-w-28 w-full text-center rounded-full py-1 px-2 warning transition-colors hover:bg-orange-50">Новая</span>
    {% endif %}
  </td>

</tr>
