<div class="flex justify-between items-center gap-4 py-2 px-4 hover:bg-gray-100 text-gray-800 font-medium">

  <div class="flex-2">
    <a href="{{ card.get_absolute_url }}" class="hover:text-blue-600 transition-colors">
      {{ card.question|truncatechars:76 }}
    </a>
  </div>

  <div class="flex-1">
    <a href="{{ card.author.get_absolute_url }}" class="hover:text-blue-600 transition-colors">
      {{ card.author }}
    </a>
  </div>

  <div class="text-right flex-1">
    {% include "includes/saved_status.html" %}
  </div>

</div>
