<div class="p-4 flex flex-col gap-2 text-gray-700 rounded-lg border-2 border-gray-200">

  <!-- Card question -->
  <div>
    <a href="{{ card.get_absolute_url }}" class="hover:text-blue-600 active:text-blue-600 transition-colors">
      {{ card.question|truncatechars:76|striptags }}
    </a>
  </div>

  <!-- Card author -->
  <div>
    <a href="{{ card.author.get_absolute_url }}" class="group">
      Автор: <span class="font-medium group-hover:text-blue-600 active:text-blue-600">{{ card.author }}</span>
    </a>
  </div>

  <!-- Card status -->
    <div class="w-full">
      {% if is_author %}
        <span class="inline-block sm:max-w-28 w-full text-center rounded-full py-1 px-2 primary transition-colors hover:bg-blue-50">Вы автор</span>
      {% elif card.is_saved %}
        <span class="inline-block sm:max-w-28 w-full text-center rounded-full py-1 px-2 success transition-colors hover:bg-green-50">Сохранена</span>
      {% else %}
        <span class="inline-block sm:max-w-28 w-full text-center rounded-full py-1 px-2 warning transition-colors hover:bg-orange-50">Новая</span>
      {% endif %}
    </div>

</div>
