{% extends "base.html" %}

{% block title %}Редактировать профиль{% endblock title %}

{% block content %}

<h1>Редактировать профиль</h1>
<div>
  <form action="{% url "user_update" user.pk %}" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" name="update_user">Сохранить профиль</button>
  </form>
</div>

<h2>Изменить пароль</h2>
<div>
  <form action="{% url "user_update" user.pk %}" method="post" novalidate>
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit" name="change_password">Изменить пароль</button>
  </form>
</div>

{% endblock content %}
