{% extends "base.html" %}

{% block title %}Профиль {{ user.username }}{% endblock title %}

{% block content %}

  <h1>Профиль {{ user.username }}</h1>

  <div>
    <a href="{% url "users:user_cards" user.id %}">Карточки пользователя</a>
    <a href="{% url "users:user_cardsets" user.id %}">Наборы карточек пользователя</a>
    <a href="{% url "users:user_projects" user.id %}">Проекты пользователя</a>
  </div>

  <h2>Статистика по профилю</h2>

  <div>
    <div>
      <span>Всего карточек: {{ cards_stats.total }}</span>
      <span>Создано карточек: {{ cards_stats.created }}</span>
      <span>Сохранено карточек: {{ cards_stats.saved }}</span>
      <span>В изучении: {{ cards_stats.in_study }}</span>
    </div>
    <div>
      <span>Всего наборов: {{ cardsets_stats.total }}</span>
      <span>Создано наборов: {{ cardsets_stats.created }}</span>
      <span>Сохранено наборов: {{ cardsets_stats.saved }}</span>
      <span>В изучении: {{ cardsets_stats.in_study }}</span>
    </div>
    <div>
      <span>Всего проектов: {{ projects_stats.total }}</span>
    </div>
  </div>

{% endblock content %}
