# Используйте этот ключ только для локальной разработки.
# Для Production сгенерируйте новый ключ
SECRET_KEY=f3$8v!kz2x#p9q@r7w&d1m^s4b6n0y!h*e%t@u

# Укажите настройки подключения к базе данных
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# укажите настройки для smtp клиента
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=email@gmail.com
EMAIL_HOST_PASSWORD=password
DEFAULT_FROM_EMAIL=example@gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

# Укажите настройки для подключения к redis
REDIS_LOCATION=redis://redis:6379/1

# Укажите настройки для подключения к rabbitmq
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Укажите настройки для подключения к rabbitmq
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
